@import "../../scss/lib/theme/global-vars";

.summary{
  &.piechart{
    width: 44%;
    height: auto;
    margin: $gutter-std;
    display:inline-block;
    white-space: nowrap;
  }
  h2 {
    margin-bottom: $gutter-std;
    font-width: 2.5vw;
    text-align: center;
  }
}