@import "../../scss/lib/theme/global-vars";

.linechart{
  width:100%;
  position:relative;
  //margin: $gutter-std;
  div{
    position: absolute;
    top: 70px;
    text-align: center;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    h2{
    font-size: 11vw;
    width:100%;
    white-space: nowrap;
    color: rgba(0,0,0,.1);    }
  }
}