@import "../../scss/lib/theme/global-vars";

.instant-display{
  .data-vis {
    overflow: hidden;
    white-space: nowrap;

    div{
      transition: all 1s;
      display:inline-block;
      height:30vw;
      p {
        transform: rotate(90deg);
        transform-origin: left bottom;
        font-size:4.5vw;
        float:left;
        margin-left:2%;
        color: rgba(255,255,255,.7);
      }
    }
    .made{
      background-color:#12dc12;
    }
    .used{
      background-color:red;
    }
  }
  ul{
    margin:0  $gutter-std;
    li{
      display: inline-block;

      &.generated{
        float:left;
      }
      &.consumed{
        float:right;
      }
      span{
        font-family:'Roboto Mono', monospace;
      }
    }
  }
}