@import "../../scss/lib/theme/global-vars";

.instant-display{
  .data-vis {
    overflow: hidden;
    white-space: nowrap;

    div{
      transition: all 1s;
      display:inline-block;
      height:30vw;
      position:relative;
      p {
        transform: rotate(90deg);
        transform-origin: left top;
        font-size:4.5vw;
        margin:1vw 0 0 5vw;
        color: rgba(255,255,255,.7);
        span{
          font-family:'Roboto Mono', monospace;
        }
      }
    }
    .made{
      background-color:#12dc12;
      text-align: right;
      p{
        transform: rotate(90deg) translate(25vw, 1vw);
        transform-origin: right top;

        }
    }
    .used{
      background-color:red;
    }
  }
  ul{
    margin:0 $gutter-std;
    li{
      display: inline-block;
      font-size:3vw;

      &.generated{
        float:left;
      }
      &.consumed{
        float:right;
      }
      span{
        font-family:'Roboto Mono', monospace;
      }
    }
  }
}